@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .banner-info4 li{
    font-size: 12px;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Kanit",sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
}

.head {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    font-size: 18px;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    text-decoration: none;
    color: palevioletred;
}

.banner {
    background-color: #FFC547;
    color: #e55a61;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info{
    text-align: center;
}

.banner-info h1{
    margin-top: 10px;
}

.banner-info img {
    width: 300px;
    border-radius: 100%;
}

.banner-info img:hover{
    width: 330px;
}

.banner-info2 img{
    width: 200px;
    border-radius: 100%;
    align-items: flex-start;
}

.banner-info2 img:hover{
    width: 230px;
}

.banner-info3 img{
    width: 200px;
    border-radius: 100%;
    align-items: end;
}

.banner-info3 img:hover{
    width: 230px;
}

main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
}

main img{
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 25%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

main div h3{
    padding: 20px;
    text-align: center;
    text-decoration: underline;
}

main li{
    font-size: 18px;
}

main div p{
    margin-top: 10px;
}

footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

.banner-info4 {
    background-color: greenyellow;
    text-align: center;
}

.banner-info4 li{
    list-style: none;
}

.banner-info5{
    background-color: #e55a61;
    
}

.banner-info6{
    background-color: skyblue; 
}